<div class="project-card-container project1">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="https://startup.google.com/alumni/" target="_blank" rel="noopener noreferrer">
            <img
              src="../../../assets/gfsa.png"
              alt="gfs-alumni page"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>Google for startups : Alumni page</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              One of the core developers of this project.<br />
              Developed the super interesting and interactive video
              section.<br />
              The site is fully responsive and follows all the market
              guidelines. Its currently live. I was honored by working with
              such a huge client Google!
            </p>
          </div>
          <div class="col-12 stack justify-content-evenly">
            <p>Angular</p>
            <p>SCSS</p>
          </div>
          <div class="links col-12">
            <a
              target="_blank"
              href="https://startup.google.com/alumni/"
              rel="noreferrer"
              >Live Demo<svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="tabler-icon tabler-icon-external-link">
                <path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
                <path d="M11 13l9 -9"></path>
                <path d="M15 4h5v5"></path></svg></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="project-card-container project2">
  <div class="col-11 project-card m-2 rounded">
    <div class="row card-row justify-content-center">
      <div class="col-sm-12 col-md-6 image-container">
        <div class="card-image rounded">
          <a href="https://startup.google.com/alumni/directory/" target="_blank" rel="noopener noreferrer">
            <img
              src="../../../assets/gfsd.png"
              alt="gfs-alumni page"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 project-data col-md-5">
        <div class="row project-text-row text-center">
          <div class="col-12 project-heading">
            <h4>Google for startups : Directory page</h4>
          </div>
          <div class="col-12 project-description">
            <p>
              One of the core developers of this project.<br />
              Developed the highly reactive sidenav filter functionality.<br />
              The site is fully responsive and follows all the market
              guidelines. Its currently live. I was honored by working with
              such a huge client Google!
            </p>
          </div>
          <div class="col-12 stack justify-content-evenly">
            <p>Angular</p>
            <p>SCSS</p>
          </div>
          <div class="links col-12">
            <a
              target="_blank"
              href="https://startup.google.com/alumni/directory/"
              rel="noreferrer"
              >Live Demo<svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="tabler-icon tabler-icon-external-link">
                <path
                  d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
                <path d="M11 13l9 -9"></path>
                <path d="M15 4h5v5"></path></svg></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
