<section class="project" id="project">
  <div class="container">
    <div class="project_content pt-5">
      <p class="p-3 pb-0">Projects</p>
      <h4 class="pb-5 ps-3 ">Check out some my coding quotient ! 🧩</h4>
      <div class="projects-grid">
        <div class="card-container-flex">
          <div class="pro__img">
            <a
              target="_blank"
              href="https://startup.google.com/alumni/"
              rel="noreferrer"
            >
              <img
                src="../../assets/screencapture-startup-google-alumni-2024-01-07-00_04_05.png"
                alt="website"
                width="500"
            /></a>
          </div>
          <div class="project_text">
            <h3>Car Rental (2023) 🚗</h3>
            <p>
              A car rental website is an online platform that allows users to
              rent cars for personal or business use. The website provides an
              interface for searching, comparing, and reserving cars.
            </p>
            <div class="stack">
              <p>Angular</p>
              <p>SCSS</p>
            </div>
            <div class="links">
              <a
                target="_blank"
                href="https://startup.google.com/alumni/"
                rel="noreferrer"
                >Live Demo<svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="tabler-icon tabler-icon-external-link"
                >
                  <path
                    d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
                  ></path>
                  <path d="M11 13l9 -9"></path>
                  <path d="M15 4h5v5"></path></svg>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
